@charset "utf-8";
/*公用部分*/
:root {
  --blue: #368ae5;
  --blue-light: #2abafd;
  --blue-dark: #1f50cd;
  --indigo: #6610f2;
  --purple: #765df6;
  --pink: #d13d98;
  --red: #c03e20;
  --orange: #ff8318;
  --yellow: #ffee01;
  --golden: #fabf30;
  --green: #1faf18;
  --teal: #20c997;
  --cyan: #17a2b8;
  --cyan-light: #3dd6ee;
  --cyan-dark: #05586d;
  --white: #fff;
  --gray: #666;
  --gray-light: #ccc;
  --gray-dark: #343a40;
  --inverse: #263238;
  --primary-light: #606fc7;
  --primary-dark: #32408f;
  --success-light: #6ec071;
  --success-dark: #3d8b40;
  --info-light: #51adf6;
  --info-dark: #0c7cd5;
  --warning-light: #ffad33;
  --warning-dark: #cc7a00;
  --danger-light: #f77066;
  --danger-dark: #a78f8e;
  --green-light: #00c9b6;
  --green-dark: #006321;
  --pink-light: #ee4c83;
  --pink-dark: #c1134e;
  --purple-light: #8259cb;
  --purple-dark: #512e90;
  --inverse-light: #3b4d56;
  --inverse-dark: #11171a;
  --yellow-light: #fff06e;
  --yellow-dark: #ffe608;
  --primary: #3f51b5;
  --secondary: #fff;
  --success: #5caf50;
  --info: #2196f3;
  --warning: #ff9800;
  --danger: #f44336;
  --light: #f8f9fa;
  --dark: #607d8b;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: $font-stack;
  --font-family-monospace: $font-mono;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset, form, label, legend, button, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*这个属性只用于iOS (iPhone和iPad)。当点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景*/
}
body {
    font-family: "Microsoft YaHei", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2.1666666;
    color: #9e9e9e;
    /* overflow:hidden; */
    /*overflow-y:auto;*/
    background-color: #fff;
    -webkit-font-smoothing: antialiased;   /*chrome、safari 抗锯齿*/
    -moz-osx-font-smoothing: grayscale;
    zoom: 1;
}
html, body {
	height: 100%;
	overflow: auto;
}
input,
button,
/*select,*/
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #9f9f9f;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:focus {
    color: #2965cc;
    text-decoration: none;
}
a:focus {
    outline: none;
}
a:active {
  color: #3876e0;
}
a:visited {
  text-decoration: none;
}

a.disable {
  color: #888 !important;
  cursor: none !important;
}
a.disable:hover, a.disable:focus, a.disable:active {
  color: #888 !important;
  text-decoration: none !important;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

/*语义化样式设置*/
code,
kbd,
pre,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #333333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

/*public 部分*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="text"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner{border:none;padding:0;} /*firefox下文字垂直居中的问题*/
button:focus,.btn:focus{
  outline: none;
  box-shadow: none;
  /*border: none;*/
}
ol,ul{list-style-type:none; zoom:1;}

/* 浮动清浮等样式 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
.inline {
    display: inline!important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.visible-flow{
    overflow: visible;
}
.ov-x-auto { overflow-x: auto !important; }
.auto-flow-z {
  overflow: auto !important;
  zoom: 1; /*缩放比例*/
}
.un-flow-z {
  overflow: hidden !important;
  zoom: 1; 
}
.z-i-max{
  z-index: 99999!important;
}
.fl{float:left !important;}
.fr{float:right !important;}
.text-l{text-align:left !important;}
.text-r{text-align:right !important;}
.text-c{text-align:center !important;}

.p-relative{position:relative}
.p-absolute{ position: absolute; }
.p-absolute-t0-r0{ position: absolute; top: 0; right: 0 }
.cursor-p {
  cursor: pointer !important;
}
.cursor-d {
  cursor: default !important;
}
.disable-cursor {cursor: not-allowed !important; }
.dis-table{ display:table !important; width:100%; }
.dis-t-cell{
  display:table-cell !important;
}
.autowidth { width:auto !important; }


/*---内边距，外边距---*/
.top-0 { top: 0px; }
.bottom-0 { bottom: 0px; }
.left-0 { left: 0px;  }
.right-0 { right: 0px; }
.top-20 { top: 20px; }
.right-20 { right: 20px; }
.pd-t-0 { padding-top: 0px !important; }
.pd-t-5 { padding-top: 5px !important; }
.pd-t-10 { padding-top: 10px !important; }
.pd-t-15 { padding-top: 15px !important; }
.pd-t-20 { padding-top: 20px !important; }
.pd-b-30 {padding-bottom: 30px;}
.pd-b-20 {padding-bottom: 20px !important;}
.pd-b-10 {padding-bottom: 10px !important;}
.pd-b-0 {padding-bottom: 0px !important;}
.pd0   {padding:0;}
.pd-20 {padding:20px !important;}
.pd-l5 {padding-left:5px;}
.pd-l6 {padding-left:6px;}
.pd-l10{padding-left:10px;}
.pd-0-10 {padding:0 10px !important;}
.pd-0-15 {padding:0 15px !important;}
.pd-15-0 {padding: 15px 0 !important;}
.pd-0-20 {padding:0 20px;}
.pd-30-32 { padding: 30px 32px !important; }
.pd-20-30 { padding: 20px 30px !important; }
.pd-20-b0 { padding: 20px 20px 0 20px !important; }
.mar-0-a { margin: 0 auto !important; }
.mar-0-15 { margin: 0 15px !important; }
.mar-10-15 { margin: 10px 15px!important; }
.mar-t-n10 { margin-top: -10px !important; }
.mar-10-n5{
  margin:10px -5px !important;
}
.mar-0-n15{
  margin:0 -15px !important;
}
.mar-t3 {
  margin-top: 3px !important;
}
.mar-t5 {
  margin-top: 5px !important;
}
.mar-t8 {
  margin-top: 8px !important;
}
.mar-t10 {
  margin-top:10px !important;
}
.mar-t12 {
  margin-top: 12px;
}
.mar-t15 {
  margin-top: 15px !important;
}
.mar-t20 {
  margin-top: 20px !important;
}
.mar-t30 {
  margin-top: 30px !important;
}
.mar-5-auto {
  margin:5px auto!important;
}
.mar-10-0 {
  margin: 10px 0 !important;
}
.mar-15-0 {
  margin: 15px 0 !important;
}
.mar-t-n30 {
  margin-top: -30px;
}
.mar-r5 {
  margin-right: 5px;
}
.mar-r10 {
  margin-right: 10px !important;
}
.mar-r15 {
  margin-right: 15px !important;
}
.mar-r16 {
  margin-right: 16px !important;
}
.mar-b20 {
  margin-bottom: 20px !important;
}
.mar-b15 {
  margin-bottom: 15px !important;
}
.mar-b10  {
  margin-bottom: 10px !important;
}
.mar-b5  {
  margin-bottom: 5px !important;
}
.mar-b0  {
  margin-bottom: 0px !important;
}
.mar-b-n30 {
  margin-bottom: -30px !important;
}
.mar-l6 {
  margin-left: 6px !important;
}
.mar-l10 {
  margin-left: 10px !important;
}
.mar-l20 {
  margin-left: 20px !important;
}
.mar-l30 {
  margin-left: 30px !important;
}


/*背景色边框字体颜色样式*/
.bord-dfe5ee { border: 1px solid #dfe5ee !important; }
.noborder{ border: none !important; }
.fontB { font-weight: 600 !important; }
.font-w300 { font-weight:300 !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size:16px !important; }
.font20 { font-size: 20px !important; }
.font24 { font-size: 24px !important; }

.white {color: #fff !important;}
.gray-95{ color:#959595;}
.gray-6{color:#666;}
.gray-5{ color:#555;}
.gray-333, a.gray-333:hover, a.gray-333:active, .gray-333:link, a.gray-333:visited {
  color: #333;
}
.blue-0683f8 { color:#0683f8 !important; }
.blue-1f50cd { color:#1f50cd !important; }
.blue1 { color:#368ae5 !important; }
.blue2 {
  color:#16a9ee !important;
  text-decoration:underline;
}
.green,.success{ color:#1faf18 !important;}
.green-7cc46e {color:#7cc46e !important;}
.green-10b459 {color:#10b459 !important;}
.red {
  color: #c03e20 !important;
}
.error{
    color:#f00 !important;
}
.pink {
  color:#d13d98 !important;
}
.purple-765df6 {
  color:#765df6 !important;
}
.orange{
  color:#ff8318;
}
.yellow {
  color: #ffee01 !important;
}
.golden-fabf30{
  color:#fabf30 !important;
}

.bg-fff { background:#fff !important; }
.bg-fafafa { background:#fafafa !important; }
.bg-fdfdfd { background:#fdfdfd !important; }
.bg-fefefe { background:#fefefe !important; }
.bg-red, .bg-orange, .bg-yellow {
  color: #fff !important;
}
.bg-red {
  background-color: #c03e20!important;
}
.bg-orange{
  background-color:#ff8318!important;
}
.bg-yellow {
  background-color: #fabf30 !important;
}

/* 更多样式 */
.more{
    color:#2d79ce;
    text-decoration:none;
}
.more1{
    color:#ff8642;
    text-decoration:none;
}
.more:hover,.more1:hover{
    text-decoration:underline;
}

.check-readonly {
  cursor: not-allowed;
  pointer-events: none;
}
/*ie下样式清楚，隐藏下拉箭头*/
/*select::-ms-expand { display: none; }*/
::-ms-value {
    /*border: 1px solid #a0b3d6;*/
    border-radius: 0px;
}
:focus {
    outline: none;
}
