# dependencies
/node_modules
*/node_modules
yarn.lock
*/yarn.lock
package-lock.json
/webpack-chain-vue-app

# testing
/coverage

# misc
.DS_Store
*.bak*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Editors and IDEs
.idea
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yo-rc.*




